.contact{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
        h1{
                font-size: 5rem;
                color: white
        }
        p{
                width: 60%;
                font-size: 2rem;
                color: white;
                font-weight: lighter;
                text-align: center;
                font-style: italic;

                a{
                        text-decoration: none;
                        font-weight: 900;
                }
        }
}

@media screen and (max-width: 768px){
        .contact{
                h1{
                        font-size: 3rem;
                }
                p{
                        width: 80%;
                        font-size: 1.5rem;
                }
        }
        
}