@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter';
  scroll-behavior: smooth;
  position: relative;
}


footer{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  background-color: #1a1a1a;
  color: white;
  font-size: 20px;
  font-weight: lighter;
  text-align: center;
}